<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ClientSideAndServerSideFormValidation</display-name>
  <welcome-file-list>
    <welcome-file>homePage</welcome-file>
  </welcome-file-list>
  <!-- Configuration Servlet Component -->
  	<servlet>
  		<servlet-name>serverAndClientSide</servlet-name>
  		<servlet-class>com.kedar.servlets.ServerAndClientSideFormValidation</servlet-class>
  	</servlet>
  	<!-- Servlet Mapping Configuration -->
  	<servlet-mapping>
  		<servlet-name>serverAndClientSide</servlet-name>
  		<url-pattern>/getTheData</url-pattern>
  	</servlet-mapping>
  	<!-- Configuration html file -->
  	<servlet>
  		<servlet-name>html</servlet-name>
  		<jsp-file>/home.html</jsp-file>
  	</servlet>
  	<!-- Mapping the HTML file -->
  	<servlet-mapping>
  		<servlet-name>html</servlet-name>
  		<url-pattern>/homePage</url-pattern>
  	</servlet-mapping>
</web-app>