<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServerSideFormValidation</display-name>
  <!-- Welcome file Configuration -->
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
   <!-- Servlet Configuration -->
   <servlet>
   		<servlet-name>check</servlet-name>
   		<servlet-class>com.kedar.servlets.ServerSideFormValidationServlet</servlet-class>
   </servlet>
   <!-- Servlet Mapping configuration -->
   <servlet-mapping>
   		<servlet-name>check</servlet-name>
   		<url-pattern>/validate</url-pattern>
   </servlet-mapping>
   
   <!-- Servlet html file Configuration -->
   <servlet>
   		<servlet-name>html</servlet-name>
   		<jsp-file>/home.html</jsp-file>
   </servlet>
   <!-- Servlet html file Mapping configuration -->
   <servlet-mapping>
   		<servlet-name>html</servlet-name>
   		<url-pattern>/home</url-pattern>
   </servlet-mapping>
</web-app>